{% extends "network/layout.html" %}

{% block body %}
<script>
    function like(id) {
        fetch(`/like/${id}`, {method: "POST"})
        .then(res => res.json())
        .then(result => {
            console.log(result);
            document.location.reload()
        })
    }
    function unlike(id) {
        fetch(`/unlike/${id}`, {method: "POST"})
        .then(res => res.json())
        .then(result => {
            console.log(result);
            document.location.reload()
        })
    }


    function getCookie(name){
         const value = `; ${document.cookie}`;
         const parts = value.split(`; ${name}=`);
         if (parts.length == 2) return parts.pop().split(';').shift();
    }
    
    function submithandler(id) {
        const textareaValue = document.getElementById(`textarea_${id}`).value;
        const content = document.getElementById(`content_${id}`);
        const modal = document.getElementById(`modal_edit_${id}`);
        fetch(`/edit/${id}`, {
            method: "POST",
            headers: {"content-type": "application/json", "X-CSRFToken": getCookie("csrftoken")},
            body: JSON.stringify({
                content: textareaValue
            })
        })
        .then(res => res.json())
        .then(result => {
                content.innerHTML = result.data;
                modal.classList.remove('show');
                modal.setAttribute('aria-hidden', 'true');
                modal.setAttribute('style', 'display: none');
                
                const modalsBackdrops = document.getElementsByClassName('modal-backdrop');
                for (let i = 0; i < modalsBackdrops.length; i++) {
                    document.body.removeChild(modalsBackdrops[i]);
                }
            }  
        )
    }
</script>

    <div class="row">
        <div class="col-12">
            <h1>All Posts</h1>
        </div>
    </div>

    <br>

    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-12 col-md-7">
                <form action="{% url 'create-post' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="owner" value="{{ user }}">
                    <div class="form-group">
                        <label for="content" style="margin-bottom: 10px;font-size: 20px;">Post a code snippet</label>
                        <div style="display: flex;flex-direction: column;">
                            <input class="form-control" type="text" name="post-title" placeholder="title">
                            <textarea  class="form-control" rows="3"  name="content" placeholder="Write..." style="margin-top:10px;margin-bottom: 10px;"></textarea>
                            <input class="form-control" type="text" name="post-tags" placeholder="Tags">
                            <div style="margin-top: 10px;" class="dropend">
                                <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                  Choose language
                                </button>
                                <ul style="font-size: small;" class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                  <li><a class="dropdown-item active" href="#">Python</a></li>
                                  <li><a class="dropdown-item" href="#">Javascript</a></li>
                                  <li><a class="dropdown-item" href="#">Java</a></li>
                                  <li><a class="dropdown-item" href="#">C++</a></li>
                                  <li><a class="dropdown-item" href="#">C</a></li>
                                  <li><a class="dropdown-item" href="#">Ruby</a></li>
                                  <li><a class="dropdown-item" href="#">HTML</a></li>

                                </ul>
                            </div>

                            <!-- <div style="font-size: small; margin-top: 20px;">
                                <label for="formFile" class="form-label">Choose image</label>
                                <input type="file" id="formFile">
                            </div> -->
                        </div>
                    </div>
                    <button type="submit" class="button-53" style="background-color: #a02e7e;margin-top: 20px; margin-bottom: 20px;">Post</button>
                </form>
            </div>
           
            <div class="col-12 col-sm-8 col-md-5">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title mb-3">Look for codes</h5>
                      <form>
                        <div>
                            <input type="text" class="form-control" placeholder="Search Codes">
                            <input type="text" class="form-control" placeholder="Search Tags" style="margin-top: 10px;">
                            <button type="submit" class="button-53" style="background-color: #ff0266;margin-top: 20px;">Find</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    

    <hr style="margin-top: 10px;margin-bottom:30px">

    {% for post in posts %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="display: flex;justify-content: space-between;"><span>Written by: <a href="{% url 'profile' post.owner.id %}"><b>{{ post.owner.username | title }}</b></a></span><span >{{ post.date }}</span></div>
                    <div class="card-body">
                        <p id="content_{{ post.id }}" class="card-text">{{ post.content }}</p>
                        <div class="row">
                            {% if user != post.owner %}
                                {% if post in liked_posts %}
                                    <a class="btn ml-2" style="background-color: #92A8D1;color: antiquewhite;" onclick="unlike({{post.id}})">Unlike</a>
                                {% else %}
                                    <a class="btn ml-2" style="background-color: #F7CAC9; color: antiquewhite;" onclick="like({{post.id}})">Like</a>
                                {% endif %} 
                            {% endif %}
                            <span class="badge badge-light ml-3" style="border: 1px solid #F7CAC9;height: 22px;">{{ post.likes }}  <i class="fa-solid fa-heart"></i></span>
                            {% if user == post.owner %}
                                <button class="btn btn-primary mr-2" style="margin-left: auto;" data-toggle="modal" data-target="#modal_edit_{{ post.id }}">Edit</button>
                                <div class="modal fade" id="modal_edit_{{ post.id }}" aria-labelledby="modal_edit_{{ post.id }}_label" aria-hidden="true" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title">Edit Post</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                            <textarea row="10" name="" id="textarea_{{ post.id }}" class="form-control" name="content">{{ post.content }}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" onclick="submithandler({{ post.id }})">Save changes</button>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <button style="margin-left: auto;" class="btn btn-danger mr-2" data-toggle="modal" data-target="#modal_remove_{{ post.id }}">Remove</button>
                                  <div class="modal fade" id="modal_remove_{{ post.id }}" aria-labelledby="modal_remove_{{ post.id }}_label" aria-hidden="true" tabindex="-1" role="dialog">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title">Remove Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                              <h4>Are you sure you want to delete this post?</h4>
                                          </div>
                                          <div class="modal-footer">
                                            <form action="{% url 'remove-post' post.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Remove</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>    
    {% endfor %}

    {% if posts %}
        <div class="row" style="justify-content: center;">
        <nav>
            <ul class="pagination">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="">{{ posts.number }}</a></li>
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
                {% endif %}
            </ul>
        </nav>
        </div>
    {% endif %}
        
    
    
{% endblock %}