{% extends "authMain/layout.html" %}

{% block body %}

<script>
    function submithandler(id) {
        const textareaValue = document.getElementById(`textarea_${id}`).value;
        const content = document.getElementById(`content_${id}`);
        const modal = document.getElementById(`modal_edit_${id}`);
        fetch(`/edit/${id}`, {
            method: "POST",
            headers: { "content-type": "application/json", "X-CSRFToken": getCookie("csrftoken") },
            body: JSON.stringify({
                content: textareaValue
            })
        })
            .then(res => res.json())
            .then(result => {
                content.innerHTML = result.data;
                modal.classList.remove('show');
                modal.setAttribute('aria-hidden', 'true');
                modal.setAttribute('style', 'display: none');

                const modalsBackdrops = document.getElementsByClassName('modal-backdrop');
                for (let i = 0; i < modalsBackdrops.length; i++) {
                    document.body.removeChild(modalsBackdrops[i]);
                }
            })
    }
</script>

<br>
<div class="row">
    <div class="col-12">
        <h1>{{ user.username | title }}'s Posts</h1>
    </div>
</div>

<br>
<hr>
<br>


<div class="row">
    <div class="feed">
        {% for post in posts %}
        {% include 'network/card.html' %}
        {% empty %}
        <p>No posts available.</p>
        {% endfor %}
    </div>
</div>


{% if posts %}
<div class="row" style="margin-top: -20px;margin-bottom: 50px;">
    <nav>
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item"><a class="page-link" style="background-color: #0f51ec;border: #0f51ec;color: white;"
                    href="?page={{ posts.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" style="background-color: #0f51ec;border: #0f51ec;color: white;"
                    href="">{{ posts.number }}</a></li>
            {% if posts.has_next %}
            <li class="page-item"><a class="page-link" style="background-color: #0f51ec;border: #0f51ec;color: white;"
                    href="?page={{ posts.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}


{% endblock %}