{% extends "authMain/layout.html" %}
{% load static %}
{% block body %}
<style>
    body {
        background-color: #878acd;
        color: black;
    }


</style>


<h2>{{ post.title | title }}</h2>
<hr>

<div class="row">
    {% if user != post.owner %}
    {% if saved %}
    <form class="col-2" action="{% url 'auction:remove-watchlist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <button type="submit" class="button-53"
            style="background-color: #866416;width: 130px;padding: 0;padding-top: 10px;">Remove from
            watchlist</button>

    </form>
    {% else %}
    <form class="col-2" action="{% url 'auction:add-watchlist' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <button type="submit" class="button-53"
            style="background-color: #16862e;width: 130px;padding: 0;padding-top: 10px;">Add to
            watchlist</button>

    </form>
    {% endif %}
    {% if isFollowing %}
    <form class="col-4 col-md-12 col-lg-4" action="{% url 'network:unfollow' %}" method="post"
        style="margin-left: 10px;">
        {% csrf_token %}
        <input type="hidden" name="userfollow" value="{{ profile.user }}">
        <button style="background-color: #9d4a20;width: 80px;" role="input" class="button-53" type="submit">Unfollow
        </button>
    </form>
    {% else %}
    <form class="col-4 col-md-12 col-lg-4" action="{% url 'network:follow' %}" method="post" style="margin-left: 10px;">
        {% csrf_token %}
        <input type="hidden" name="userfollow" value="{{ profile.user }}">
        <button style="background-color: #439d20;width: 80px;" role="input" class="button-53" type="submit">Follow
        </button>
    </form>
    {% endif %}
    {% else %}

    <form class="col-2" action="{% url 'network:remove-post' post.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button-53" style="background-color: #a02e3b;">Remove</button>
    </form>
    {% endif %}

</div>

<br>

<h2>Description:</h2>
<p>
<pre>
    {{ post.content }}
</pre>
</p>
<hr>
<p>Post owner: <a href="{% url 'network:profile' post.owner.id %}">{{ post.owner | title }}</a> </p>
<p><i class="fa fa-heart"></i> likes: {{ post.likes }}</p>

<hr>


{% if user != post.owner %}
<div class="row">
    <div class="col">
        <h4><span class="badge bg-info">Place a comment:</span></h4>

        <form action="{% url 'network:add-comment' %}" method="post">
            {% csrf_token %}
            <textarea rows="4" cols="30" type="text" name="comment"></textarea>
            <input type="hidden" name="post_id" value="{{ post.id }}">

            <button style="margin-top: 20px;" type="submit" class="button-53"
                style="background-color: #3DD1E7;">Post</button>

        </form>
    </div>
</div>
<hr>
{% endif %}



<h2>Comments</h2>

<br>

<div class="row mx-3">
    <div class="col">
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">
                <p>{{ comment.content }}</p>
                <small class="text-muted">Author: {{ comment.author | title }}</small>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}