{% extends "authMain/layout.html" %}

{% block body %}

<br>
<div class="row">
    <div class="col-12">
        <h1>{{ user.username | title }}'s Profile</h1>
    </div>
</div>

<br>
<hr>
<br>

<div class="row justify-content-center">
    <div class="col-12 col-md-4 col-lg-6 p-3">
        <div class="row justify-content-between">
            <p class="col-4 col-md-12 col-lg-4" style="font-size: 20px;">Followers: {{ followers.count }}</p>
            <p class="col-4 col-md-12 col-lg-4" style="font-size: 20px;">Following: {{ following.count }}</p>

            {% if user.is_authenticated %}
            {% if user != user %}
            {% if isFollowing %}
            <form class="col-4 col-md-12 col-lg-4" action="{% url 'network:unfollow' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="userfollow" value="{{ user }}">
                <input type="submit" class="btn btn-danger" value="Unfollow">
            </form>
            {% else %}
            <form action="{% url 'network:follow' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="userfollow" value="{{ user }}">
                <input type="submit" class="btn btn-success" value="Follow">
            </form>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>

        <div class="row justify-content-between">
            <p class="col-4 col-md-12 col-lg-4" style="font-size: 20px;">
                <a class="col-4 col-md-12 col-lg-4" href="{% url 'network:posts' profile.user.id %}">
                    <button style="background-color: #9d205f;width: 120px;" role="input" class="button-53"
                        type="submit">Posts:{{posts.count}}
                    </button>
                </a>
            </p>

        </div>


    </div>

    <div class="col-12 col-md-8 col-lg-6">
        <div class="container p-3 d-flex justify-content-center" style="color: black;">
            <div class="card p-4" style="width: 350px;background-color: antiquewhite;">
                <div class="image d-flex flex-column justify-content-center align-items-center">
                    <img class="rounded-circle" width="200px" src="{{ profile.pic }}" />

                    <span class="mt-3" style="font-size: 22px;font-weight: bold;">{{ profile.name }}
                        {{profile.last}}</span>
                    <span class="idd">@{{ profile.user.username }}</span>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                        <span class="idd1">Oxc4c16a645_b21a</span>
                        <span class="ml-2"><i class="fa fa-copy"></i></span>
                    </div>
                    <div class="d-flex flex-row justify-content-center align-items-center mt-3">
                        <span class="number">{{ profile.user.user_who_is_following.count }} <span
                                class="follow">Friends</span></span>
                    </div>
                    {% if user == profile.user %}
                    <div class=" d-flex mt-2">
                        <a href="{% url 'network:edit-profile' %}">
                            <button style="background-color: #9bcd27; margin-top: 20px;margin-bottom: 10px;"
                                role="input" class="button-53" type="submit">Edit
                            </button>
                        </a>
                    </div>
                    {% endif %}

                    <div class="text mt-3">
                        {% if profile.about != "None" %}
                        <span>{{ profile.about }}</span>
                        {% else %}
                        <span>Hi!</span>
                        {% endif %}
                    </div>
                    <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                        <i class='bx bxl-twitter'></i>
                        <i class='bx bxl-facebook-circle'></i>
                        <i class='bx bxl-instagram'></i>
                        <i class='bx bxl-linkedin-square'></i>
                    </div>
                    <div class=" px-2 rounded mt-4 date ">
                        <small class="join">Joined {{ profile.date }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>









{% endblock %}