* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: monaco, Consolas, Lucida Console, monospace;
}

body {
  background-color: rgb(26, 0, 67);
  color: white;
}

a {
  text-decoration: none;
}

.message {
  color: rgb(251, 133, 153);
}

.main-card {
  margin: auto;
  margin-top: 50px;
  width: 18rem;
  height: 450px;
}

.card-body {
  color: black;
}
.main-card-img-top {
  margin-top: 10px;
  height: 250px;
}

#network-card {
  background-color: #00b8d4;
}

#auction-card {
  background-color: #c7006e;
}

#mail-card {
  background-color: #00e676;
}

.card-title {
  font-weight: bolder;
}
