.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.post {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.post-link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}

.post-color {
  height: 128px;
  width: 128px;
  position: absolute;
  z-index: 1;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.post-link:hover .post-color {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.post-title {
  max-height: 200px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  position: relative;
}
.post-publish {
  font-size: 12px;
  color: #fff;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
}

.btn-card {
  height: 20px;
  width: 50px;
  font-size: 10px;
  padding: 0;
}

.post-color.Java {
  background-color: #f9b234;
}
.post-color.Javascript {
  background-color: #e44002;
}
.post-color.Python {
  background-color: #3ecd5e;
}
.post-color.SQL {
  background-color: #952aff;
}
.post-color.C {
  background-color: #cd3e94;
}
.post-color.Ruby {
  background-color: #4c49ea;
}
.post-color.HTML {
  background-color: #d6591a;
}

.Java {
  color: #f9b234;
}
.Javascript {
  color: #e44002;
}
.Python {
  color: #3ecd5e;
}
.SQL {
  color: #952aff;
}
.C {
  color: #cd3e94;
}
.Ruby {
  color: #4c49ea;
}
.HTML {
  color: #d6591a;
}

@media only screen and (max-width: 979px) {
  .post {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
}

@media only screen and (max-width: 639px) {
  .post {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .post-title {
    min-height: 72px;
    line-height: 1;
  }
}
