{% extends "authMain/layout.html" %}>

{% block body %}
<style>
    body {
        background-color: #cd87cb;
        color: black;
    }

    /* MyForm theme */

    /* Center the form on the page */
    form.my-form {
        max-width: 500px;
    }

    /* Style the form fields */
    .my-form p {
        margin: 10px 0;
    }

    .my-form input,
    .my-form textarea {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
        border: none;
    }
</style>

<h2>Create New Listing</h2>

<br>

<form class="my-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.name.label_tag }} {{ form.name }}
    {{ form.description.label_tag }} {{ form.description }}
    {{ form.category.label_tag }}
    <br>
    {{ form.category }}
    <br>
    <div style="height: 10px;"></div>
    {{ form.price.label_tag }} {{ form.price }}
    {{ form.image.label_tag }} {{ form.image }}

    <input type="hidden" name="owner" value="{{ user }}">
    <button type="submit" class="button-53" style="background-color: #a02e7e;margin-top: 10px;">Post</button>

</form>

{% endblock %}