{% extends "authMain/layout.html" %}
{% load static %}
{% block body %}
<style>
    body {
        background-color: #cd87cb;
        color: black;
    }
</style>


<h2>Details for {{ listing }}</h2>
<h4>Listing price: ${{ listing.bid_price.bid }}</h4>
<hr>
<div class="row">

    {% if user.is_authenticated and listing.is_active == False and user == listing.bid_price.bid_owner%}
    <div class="alert alert-success ml-3" role="alert">Congratulations! You bought this listing for {{
        listing.bid_price.bid
        }}.</div>
    {% endif %}

    {% if user.is_authenticated and user == listing.owner and listing.is_active == False and message != None %}
    <div class="alert alert-success ml-3" role="alert">{{ message }}</div>
    {% endif %}



    {% if user.is_authenticated and listing.is_active %}
    {% if watchlist %}
    <form class="ml-3 mr-2" action="{% url 'auction:remove-watchlist' %}" method="post" style="margin-bottom: 10px;">
        {% csrf_token %}
        <input type="hidden" name="listing_id" value="{{ listing.id }}">
        <button type="submit" class="button-53" style="background-color: #dd392a;width: 220px;">Remove from
            watchlist</button>

    </form>
    {% else %}
    <form class="ml-3 mr-2" action="{% url 'auction:add-watchlist' %}" method="post" style="margin-bottom: 10px;">
        {% csrf_token %}
        <input type="hidden" name="listing_id" value="{{ listing.id }}">
        <button type="submit" class="button-53" style="background-color: rgb(27, 191, 73);width: 170px;">Add to
            watchlist</button>

    </form>
    {% endif %}
    {% if user == listing.owner %}

    <form class="mr-2" action="{% url 'auction:remove-listing' listing.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="button-53" style="background-color: #dd392a;width: 160px;">Remove listing</button>

    </form>
    {% if listing.bid_price.bid > 1 %}
    <form action="{% url 'auction:sell-listing' listing.id %}" method="post" style="margin-top: 10px;">
        {% csrf_token %}
        <button type="submit" class="button-53" style="background-color: #750d88;width: 150px;">Sell listing</button>
    </form>
    {% endif %}
    {% endif %}
    {% endif %}

</div>

<br>

<img style="width: 400px;" src="{{listing.image_url }}" alt="{{ listing.name }}">
<hr>
<h2>Description:</h2>
<p>{{ listing.description }}</p>
<hr>
<p>Listing owner: {{ listing.owner | title }}</p>
{% if not listing.is_active %}
<b>
    <p>{{ message }}</p>
</b>
{% endif %}
<hr>


{% if user.is_authenticated %}
{% if listing.is_active and user != listing.owner %}
<p style="font-size:16px;font-weight: 400;margin-bottom: 0px;">Place bid:</p>
<form action="{% url 'auction:add-bid' %}" method="post">
    {% csrf_token %}
    <input min="0" type="number" name="bid">
    <input type="hidden" name="listing_id" value="{{ listing.id }}">
    <button type="submit" class="button-53" style="background-color: #9722af;margin-top: 10px;">Bid!</button>

</form>


{% if update != None %}
<br>
{% if update %}
<div class="alert alert-success" role="alert">Bid was updated successfully!</div>
{% else %}
<div class="alert alert-danger" role="alert">Bid failed! Try a higher value.</div>
{% endif %}
{% endif %}
<br><br>
{% endif %}


{% if user.is_authenticated and user != listing.owner %}
<div class="row">
    <div class="col">
        <form action="{% url 'auction:add-comment' %}" method="post">
            {% csrf_token %}
            <label for="comment"><span style="font-size: 16px ;">Place a
                    comment:</span></label>
            <input style="width:50%" type="text" name="comment">
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <button type="submit" class="button-53" style="background-color: #19dbd8;margin-top: 10px;">Add</button>

        </form>
    </div>
</div>
<hr>
{% endif %}



<h2>Comments</h2>

<br>

<div class="row mx-3">
    <div class="col">
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item">
                <p>{{ comment.content }}</p>
                <small class="text-muted">Author: {{ comment.author | title }}</small>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endif %}



{% endblock %}